<div class="container d-flex">
  <div class="row align-items-center" style="height: calc(100vh - 125px);">
    <div class="col-12 wow animated fadeIn">
      <!-- <img src="{{ site.author.image }}" alt="{{ site.title }}" class="wow animated fadeIn img-fluid mb-5 border" style="height: 150px; width: auto;" data-wow-delay=".1s"> -->
      <h1 class="display-2" data-wow-delay=".15s">Ted Patterson</h1>
      <h4>UX Designer - UI Developer - Product Manager</h4>
    </div>
  </div>
</div>
<div class="container-fluid bg-light">
  <div class="container py-5">
    <div class="row my-5">
      <div class="col-12">
        <!-- <img src="{{ site.author.image }}" alt="{{ site.title }}" class="wow animated fadeIn img-fluid mb-5 border" style="height: 150px; width: auto;" data-wow-delay=".1s"> -->
        <h1 class="wow animated fadeIn display-5" data-wow-delay=".15s">{{ site.description }}</h1>
      </div>
    </div>
  </div>
</div>
