<div class="container d-flex">
  <div class="row hero">
    <div class="col-lg-7 my-auto wow animated fadeIn order-2 order-lg-1">
      <h1 class="display-4 font-boldest mb-3" data-wow-delay=".15s">Howdy, I'm Ted</h1>
      <h1 class="display-6">{{ site.description }}</h1>
    </div>
    <div class="col-lg-5 mt-auto order-1 order-lg-2">
      <img src="{{ site.author.image }}" alt="{{ site.title }}" class="img-fluid wow animated fadeIn img-fluid my-3 my-lg-0" data-wow-delay=".1s">
    </div>
  </div>
</div>
<div class="container-fluid bg-light">
  <div class="container py-5">
    <div class="row my-5">
      <div class="col-12">
        <!-- <img src="{{ site.author.image }}" alt="{{ site.title }}" class="wow animated fadeIn img-fluid mb-5 border" style="height: 150px; width: auto;" data-wow-delay=".1s"> -->
        <h1 class="wow animated fadeIn display-5" data-wow-delay=".15s">{{ site.description }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-primary">
  <div class="container py-5">
    <div class="row my-5">
      <div class="col-12">
        <h1 class="wow animated fadeIn text-white" data-wow-delay=".15s">Learn about what I've built and the technologies I use</h1>
      </div>
    </div>
  </div>
</div>
