.project.card {
  
  text-decoration: none !important;
  margin: 10px auto;
  transition: transform 600ms;

  &:hover:not(.post) {
    transform: translateY(-4px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }

  .badge {
    margin-right: .25rem;
    color: #fff !important;
  }

}
