.project.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin-bottom: 1.5rem;
  overflow: hidden;
  transition: ease .25s;
  box-shadow: 10px 10px 0px 0px $primary;

  &:hover {
    transform: translateY(-4px);
    box-shadow: none;
    transition: ease .25s;
    border: 2.5px dotted #000 !important;
  }

  .badge {
    margin-right: .25rem;
    color: #fff !important;
  }

}
